// CTA //
.btn-cta {
    width: fit-content;
    border: none;
    border-radius: 100px;
    font-weight: bold;
    white-space: nowrap;
    cursor: pointer;
}

.btn-filter {
    width: fit-content;
    border: none;
    border-radius: 100px;
    white-space: nowrap;
    cursor: pointer;
}


// SIZE //
.btn-size-small {
    padding: 4px 12px;
    font-size: 0.8rem;
}

.btn-size-medium {
    padding: 8px 20px;
    font-size: 1rem;
}

.btn-size-large {
    padding: 12px 24px;
    font-size: 1.2rem;
}

// THEME //
.btn-theme-secondary {
    color: var(--text-main);
    background: var(--bg-secondary);
}

.btn-theme-transparent {
    color: var(--text-secondary);
    background: transparent;
    border: 2px solid var(--bg-secondary);
}

.btn-theme-main {
    background: var(--bg-main-light);
}

.btn-theme-white {
    background: var(--bg-white);
}