.icon-size-smaller {
    img {
        height: 12px;
        width: auto;
    }
}

.icon-size-small {
    img {
        height: 16px;
        width: auto;
    }
}

.icon-size-medium {
    img {
        height: 24px;
        width: auto;
    }
}

.icon-size-large {
    img {
        height: 40px;
        width: auto;
    }
}