@import "../components/formationCard.scss";

// FORMATIONS INTRA //
.formationsIntra--container {
    background: var(--bg-white-dark);
}

.coursEnLigne--container {
    background: var(--bg-main-light);
}

// ALL //
.formationsIntra--wrapper, .coursEnLigne--wrapper {
    padding-top: 60px;
    padding-bottom: 60px;

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    & > p {        
        text-align: center;
        margin-bottom: 40px;
        line-height: 1.4;
    }
}

// CARROUSEL //
.carrousel--container {
    position: relative;
    margin-bottom: 60px;
}

.carrousel--buttons {
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
}

.carrousel--button {
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(1) {
        transform: rotate(180deg);
    }
}

.carrousel--screen {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.carroussel--cards {
    width: 500%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
    left: -100%;
    transition: all 0.4s ease-in-out;

    & > .formationCard--container {
        justify-self: center;
    }
}


// CTA //
.formationsIntra--cta--container, .coursEnLigne--cta--container {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 679px) {
    .carroussel--cards {
        width: calc(100% / 2 * 5);        
    }
}

@media (min-width: 976px) {
    .carrousel--button {
        width: 32px;
        height: 32px;
    }

    .carroussel--cards {
        width: calc(100% / 3 * 5);        
        left: -33%;
    }
}