@import "../components/serviceCard.scss";

.services--container {
    background: var(--bg-main);
}

.services--wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
}

@media (min-width: 769px) {
    .services--wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 976px) {
    .services--wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}