:root {
  --text-black: #333;
  --text-grey: #666;
  --text-white: #fff;
  --text-main: #000a4a;
  --text-main-light: #6e54ff;
  --text-secondary: #06e7e3;
  --bg-white: #fff;
  --bg-white-dark: #f6f6f6;
  --bg-main: #000a4a;
  --bg-main-light: #3d47c2;
  --bg-secondary: #06e7e3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
}

.banner--container {
  width: 100%;
  background: var(--bg-main);
}

.banner--wrapper {
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner--content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner--socials {
  display: flex;
  align-items: center;
  gap: 8px;
}

.banner--contacts {
  display: flex;
  align-items: center;
  gap: 12px;
}
.banner--contacts .link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user--container {
  display: none;
}

@media (min-width: 769px) {
  .banner--wrapper {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .banner--content {
    justify-content: flex-start;
    gap: 20px;
  }
  .user--container {
    display: block;
  }
}
.menu--wrapper {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu--nav--desktop {
  display: none;
}

.menu--logo {
  height: 40px;
  width: auto;
}

.menu--container--mobile {
  width: 100vw;
  height: 100vh;
  background: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: -100%;
  transition: all 0.4s ease-in-out;
}
.menu--container--mobile.opened {
  left: 0;
}

.menu--wrapper--mobile {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
}

.menu--cross--container--mobile {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 40px;
}

.menu--nav--mobile {
  display: flex;
  flex-direction: column;
}

.menu--link--mobile {
  height: 60px;
  padding: 0 12px;
  display: flex;
  align-items: center;
}

@media (min-width: 976px) {
  .menu--hamburger--container {
    display: none;
  }
  .menu--container--mobile {
    display: none;
  }
  .menu--wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .menu--logo {
    height: 60px;
  }
  .menu--nav--desktop {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .menu--link--desktop {
    width: -moz-fit-content;
    width: fit-content;
    padding: 4px 4px;
    font-weight: bold;
    color: var(--text-white);
    display: flex;
    align-items: center;
  }
}
.hero--wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}

.hero--content--container h1 {
  margin-bottom: 32px;
  text-align: center;
  line-height: 1.2;
}
.hero--content--container p {
  margin-bottom: 40px;
  text-align: center;
  line-height: 1.6;
}

.hero--cta--container {
  display: flex;
  justify-content: center;
}

.hero--image--container {
  display: none;
}

@media (min-width: 976px) {
  .hero--wrapper {
    flex-wrap: nowrap;
    gap: 100px;
  }
  .hero--content--container {
    flex-grow: 1;
  }
  .hero--content--container h1 {
    text-align: start;
  }
  .hero--content--container p {
    text-align: start;
  }
  .hero--image--container {
    width: clamp(450px, 80%, 550px);
    aspect-ratio: 1/1;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
  }
  .hero--image--container img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero--cta--container {
    justify-content: flex-start;
  }
}
.hero--content--formations, .hero--content--formationDetails {
  width: clamp(200px, 100%, 640px);
  margin: auto;
  flex-grow: 0;
}
.hero--content--formations h1, .hero--content--formationDetails h1 {
  text-align: center;
}
.hero--content--formations p, .hero--content--formationDetails p {
  text-align: center;
}

.hero--content--formationDetails .hero--cta--container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header--main--container {
  background: var(--bg-main-light);
}

.bg--zero {
  background: none;
}
.bg--zero a {
  color: var(--text-main);
}

.header--bottom {
  width: 100%;
  height: 150px;
}
.header--bottom img {
  height: 150px;
  width: 100vw;
  -o-object-fit: fill;
     object-fit: fill;
}

.courseMap--container {
  width: 100%;
  padding: 32px 20px;
  background: var(--bg-white-dark);
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.decoLine {
  width: 2px;
  height: calc(100% - 32px);
  background: var(--bg-main-light);
  border-radius: 100px;
}

.courseMap--content--container {
  flex-grow: 1;
}
.courseMap--content--container p:first-child {
  margin-bottom: 6px;
  position: relative;
}
.courseMap--content--container p:first-child:before {
  content: "";
  height: 16px;
  width: 16px;
  border: 2px solid var(--bg-main-light);
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: -21px;
  transform: translate(-50%, -50%);
  background: var(--bg-white);
}
.courseMap--content--container h2 {
  margin-bottom: 12px;
}
.courseMap--content--container p:nth-child(4) {
  margin-bottom: 32px;
}

.courseMap--completion {
  width: 100%;
  height: 6px;
  border-radius: 100px;
  background: #CCC;
  margin-bottom: 6px;
}

.courseMap--modules {
  list-style: none;
}

.courseMap--module {
  height: 48px;
  line-height: 1.4;
  margin-bottom: 32px;
  position: relative;
  border-radius: 100px;
  display: flex;
  align-items: center;
}
.courseMap--module:last-child {
  margin-bottom: 0;
}
.courseMap--module:before {
  content: "";
  width: 12px;
  height: 12px;
  border: 2px solid var(--bg-main-light);
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: -21px;
  transform: translate(-50%, -50%);
  background: var(--bg-white);
  z-index: 2;
}
.courseMap--module.selected {
  width: calc(100% + 20px);
  padding-left: 20px;
  background: var(--bg-white);
  position: relative;
  left: -20px;
}
.courseMap--module.selected:before {
  left: -1px;
  background: var(--bg-main-light);
}
.courseMap--module.selected:after {
  content: "";
  width: 22px;
  height: 22px;
  border-radius: 100px;
  background: var(--bg-main-light);
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: -1px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media (min-width: 976px) {
  .courseMap--container {
    grid-area: 1/1/2/2;
  }
}
.needHelp--container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 32px 32px 68px;
  background: var(--bg-main-light);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}
.needHelp--container h2 {
  margin-bottom: 20px;
}
.needHelp--container p {
  line-height: 1.8;
  margin-bottom: 32px;
  text-align: center;
}

.needHelp--image--container {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}
.needHelp--image--container img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 976px) {
  .needHelp--container {
    grid-area: 2/1/3/2;
  }
}
.course--container h2 {
  margin-bottom: 8px;
}
.course--container p:nth-child(2) {
  margin-bottom: 32px;
}

.course--iframe {
  margin-bottom: 32px;
}
.course--iframe iframe {
  aspect-ratio: 16/9;
  height: 100%;
  width: 100%;
}

.course--section {
  margin-bottom: 32px;
}
.course--section h3 {
  margin-bottom: 8px;
}
.course--section p {
  margin-bottom: 4px;
  line-height: 1.4;
}

@media (min-width: 976px) {
  .course--container {
    grid-area: 1/2/3/3;
  }
}
.footer--top {
  width: 100%;
  height: 150px;
}
.footer--top img {
  height: 150px;
  width: 100vw;
  -o-object-fit: fill;
     object-fit: fill;
}

.footer--container {
  background: var(--bg-main-light);
}
.footer--container h3 {
  text-align: center;
}

.footer--wrapper {
  padding-top: 20px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 60px;
}

.footer--left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer--left img {
  height: 60px;
  width: auto;
  margin-bottom: 20px;
}

.footer--socials {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.footer--mentionsLegales {
  text-decoration: underline;
}

.footer--mid h3 {
  margin-bottom: 20px;
}

.footer--mid--section {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 12px;
  text-align: center;
}

.footer--right h3 {
  margin-bottom: 20px;
}

.footer--nav {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.footer--link {
  height: 32px;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  color: var(--text-white);
  font-size: 0.8rem;
}

.footer--bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 976px) {
  .footer--wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }
  .footer--link {
    height: 40px;
    font-size: 1.2rem;
  }
  .footer--bottom {
    grid-area: 2/2/3/3;
  }
}
.font-size-smaller {
  font-size: 0.6rem;
}

.font-size-small {
  font-size: 0.8rem;
}

.font-size-medium {
  font-size: 1rem;
}

.font-size-large {
  font-size: 1.2rem;
}

.font-size-larger {
  font-size: 1.4rem;
}

.title-size-small {
  font-size: 1.2rem;
  font-weight: bold;
}

.title-size-medium {
  font-size: 1.6rem;
  font-weight: bold;
}

.title-size-larger {
  font-size: 2rem;
  font-weight: bold;
}

.font-weight-bold {
  font-weight: bold;
}

.font-color-white {
  color: var(--text-white);
}

.font-color-black {
  color: var(--text-black);
}

.font-color-grey {
  color: var(--text-grey);
}

.font-color-main {
  color: var(--text-main-light);
}

@media (min-width: 769px) {
  .font-size-smaller {
    font-size: 0.8rem;
  }
  .font-size-small {
    font-size: 1rem;
  }
  .font-size-medium {
    font-size: 1.2rem;
  }
  .font-size-large {
    font-size: 1.4rem;
  }
  .title-size-small {
    font-size: 1.4rem;
  }
  .title-size-large {
    font-size: 2rem;
  }
  .title-size-larger {
    font-size: 2.6rem;
  }
}
.section--wrapper {
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

@media (min-width: 769px) {
  .section--wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 967px) {
  .section--wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.btn-cta {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  border-radius: 100px;
  font-weight: bold;
  white-space: nowrap;
  cursor: pointer;
}

.btn-filter {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  border-radius: 100px;
  white-space: nowrap;
  cursor: pointer;
}

.btn-details {
  width: 100%;
  padding: 12px 0px;
  background: var(--bg-white-dark);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn-details.activated {
  background: var(--bg-white);
}

.btn-size-small {
  padding: 4px 12px;
  font-size: 0.8rem;
}

.btn-size-medium {
  padding: 8px 20px;
  font-size: 1rem;
}

.btn-size-large {
  padding: 12px 24px;
  font-size: 1.2rem;
}

.btn-theme-secondary {
  color: var(--text-main);
  background: var(--bg-secondary);
}

.btn-theme-transparent {
  color: var(--text-secondary);
  background: transparent;
  border: 2px solid var(--bg-secondary);
}

.btn-theme-main {
  background: var(--bg-main-light);
}

.btn-theme-white {
  background: var(--bg-white);
}

.icon-size-smaller img {
  height: 12px;
  width: auto;
}

.icon-size-small img {
  height: 16px;
  width: auto;
}

.icon-size-medium img {
  height: 24px;
  width: auto;
}

.icon-size-large img {
  height: 40px;
  width: auto;
}

@media (min-width: 769px) {
  .icon-size-smaller img {
    height: 16px;
  }
  .icon-size-small img {
    height: 24px;
  }
}
.link {
  cursor: pointer;
}

.cursor {
  cursor: pointer;
}

.grid--container {
  padding-top: 40px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px 40px;
}

@media (min-width: 976px) {
  .grid--container {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
  }
}/*# sourceMappingURL=formation.css.map */