.hero--wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
}

.hero--content--container {
    h1 {
        margin-bottom: 32px;
        text-align: center;
        line-height: 1.2;
    }

    p {
        margin-bottom: 40px;
        text-align: center;
        line-height: 1.6;
    }
}

.hero--cta--container {
    display: flex;
    justify-content: center;
}

.hero--image--container {
    display: none;
}

@media (min-width: 976px) {
    .hero--wrapper {
        flex-wrap: nowrap;
        gap: 100px;
    }

    .hero--content--container {
        flex-grow: 1;

        h1 {
            text-align: start;
        }
    
        p {
            text-align: start;
        }
    }

    .hero--image--container {
        width: clamp(450px, 80%, 550px);
        aspect-ratio: 1 / 1;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .hero--cta--container {
        justify-content: flex-start;
    }
}

// FORMATIONS //
.hero--content--formations, .hero--content--formationDetails {
    width: clamp(200px, 100%, 640px);
    margin: auto;
    flex-grow: 0;

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }
}

// FORMATION DETAILS //
.hero--content--formationDetails {
    .hero--cta--container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}