@use './banner.scss';
@use './menu.scss';
@use './hero.scss';

.header--main--container {
    background: var(--bg-main-light);
}

.bg--zero {
    background: none;

    a {
        color: var(--text-main);
    }
}

.header--bottom {
    width: 100%;
    height: 150px;

    img {
        height: 150px;
        width: 100vw;
        object-fit: fill;
    }
}





