.hero--wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
}

.hero--content--container {
    h1 {
        margin-bottom: 32px;
        text-align: center;
        line-height: 1.2;
    }

    p {
        margin-bottom: 40px;
        text-align: center;
        line-height: 1.6;
    }
}

.hero--cta--container {
    display: flex;
    justify-content: center;
}

.hero--image--container {
    display: none;
}

@media (min-width: 976px) {
    .header--hero--wrapper {
        padding: 60px 20px;
    }

    .hero--content--container {
        width: 50%;
        align-items: start;
    
        h1 {
            font-size: 2.4rem;
            margin-bottom: 32px;
            text-align: start;
        }
    
        p {
            font-size: 1.4rem;
            margin-bottom: 60px;
            text-align: start;
        }
    }

    .hero--cta--container {
        button {
            padding: 12px 24px;
            font-weight: bold;
        }
    }

    .hero--image--container {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 500px;
        }
    }
}